/* navbar */
.navbar-brand {
    font-family: 'viga', sans-serif;
    font-size: 32px;
}

/* jumbotron */
.jumbotron {
    background-image: url(img/toko-komputer.jpg);
    background-size: cover;
    height: 700px;
    text-align: center;
    
}

.jumbotron .display-4 {
    color: rgb(248, 6, 6);
    margin-top: 75px;
    font-size: 50px;
    font-weight: 400;
}

.jumbotron .display-4 span {
    font-weight: 600;
    color:blue;
}
.header {
    background-color: rosybrown;
}
/* Workingspace */
.workingspace {
    margin-top: 150px;
    height: auto;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    color: rgb(33, 106, 26) ;
    font-weight: 600;
    text-align: auto;
    text-transform: uppercase;

}

.workingspace p {
    font-size: 24px;
    color: #070707;
    font-weight: 200;
    margin: 30px 0;
}
/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 30px;
}

/* desktop */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: rgb(33, 106, 26) !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .nav-link   {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(0, 51, 203);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
 
    .jumbotron { 
     margin-top: -150px;
     text-align: center;
    }
    .jumbotron .display-4 {
        font-size: 62px;
        
    }  
 }